[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/plugins/start/vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/python/start/jedi-vim"]
	path = pack/python/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "pack/python/start/vim-flake8"]
	path = pack/python/start/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "pack/rust/start/rust.vim"]
	path = pack/rust/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "pack/rust/start/syntastic"]
	path = pack/rust/start/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "pack/plugins/start/vim-prosession"]
	path = pack/plugins/start/vim-prosession
	url = git@github.com:dhruvasagar/vim-prosession.git
[submodule "pack/plugins/start/vim-obsession"]
	path = pack/plugins/start/vim-obsession
	url = git@github.com:tpope/vim-obsession.git
[submodule "pack/plugins/start/rainbow_parentheses.vim"]
	path = pack/plugins/start/rainbow_parentheses.vim
	url = git@github.com:kien/rainbow_parentheses.vim.git
[submodule "pack/clojure/start/vim-clojure-static"]
	path = pack/clojure/start/vim-clojure-static
	url = git@github.com:guns/vim-clojure-static.git
[submodule "pack/plugins/start/preview-markdown.vim"]
	path = pack/plugins/start/preview-markdown.vim
	url = git@github.com:skanehira/preview-markdown.vim.git
[submodule "pack/clangs/start/vim-cmake"]
	path = pack/clangs/start/vim-cmake
	url = git@github.com:cdelledonne/vim-cmake.git
[submodule "pack/clojure/start/vim-racket"]
	path = pack/clojure/start/vim-racket
	url = git@github.com:wlangstroth/vim-racket.git
[submodule "pack/plugins/start/vim-gitignore"]
	path = pack/plugins/start/vim-gitignore
	url = git@github.com:gisphm/vim-gitignore.git
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "pack/plugins/start/vim-airline-themes"]
	path = pack/plugins/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
